<!DOCTYPE html>
<html>
<head>
    <title> About R.out</title>
    <meta charset="utf-8">
</head>
<body>
    <div id = "description-style">
        <h1> About R.out
        <p> Mission: </p>
        <p> Our mission is to deliver simple and easy to use routing for everyone to use. Whether you
            are going on a walk or run, riding your bike, or planning a road trip, Round Trip Routing
            can assist you in finding your path! </p>
        <p> How It Works: </p>
        <p> You will start by entering in the distance that you want to travel into the distance
            box and click 'Generate Route'. Based on your desired distance, we will generate a random route for
            you to travel. Currently, we are working on some other features to customize your trip! </p>
        <p> Contributors: </p>
        <ul>
            <li> Josh Buckley </li>
            <li> Chloe Estrada </li>
            <li> Colin Foutz </li>
            <li> Kymane LLewellyn </li>
            <li> Shreyas Mehta </li>
            <li> Ian Walk </li>
    </div>
</body>
</html>
