<!DOCTYPE html>
<html>
<head>
    <title> About Round Trip Routing</title>
    <meta charset="utf-8">
</head>
<body>
    <h1> About Round Trip Routing
    <p> Mission: Our mission is to deliver simple and easy to use routing for everyone to use. Whether you
        are going on a walk or run, riding your bike, or planning a road trip, Round Trip Routing
        can assist you in finding your path!
        How It Works: You will start by entering in the distance that you want to travel into the distance
        box and click 'Generate Route'. Based on your desired distance, we will generate a random route for
        you to travel. Currently, we are working on some other features to customize your trip!
        Contributors: Josh Buckley, Chloe Estrada, Colin Foutz, Kymane Llewellyn, Shreyas Mehta, Ian Walk
    </p>
</body>
</html>
