<!DOCTYPE html>
<html>
<head>
    <title>About R.out</title>
    <meta name="viewport" content="initial-scale=1.0"> <!-- content="user-scalable=no" -->
    <meta charset="utf-8">
    <link rel="shortcut icon" type="image/x-icon" href="/images/favicon.ico"/>
    <link href="/css/main.css" rel="stylesheet">
    <script src="/javascript/map.js"></script>
    <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
</head>
<body>
    <p>About R.out</p>
    <div id="des">
        <br></br>
        <p2>Mission: </p2>
        <br></br>
        <p2> Our mission is to deliver simple and easy to use routing for everyone to use. Whether you
            are going on a walk or run, riding your bike, or planning a road trip, Round Trip Routing
            can assist you in finding your path!</p2>
        <br></br>
        <br></br>
        <p2>How It Works: </p2>
        <br></br>
        <p2> You will start by entering in the distance that you want to travel into the distance
            box, make this point your 'Starting Point', add any waypoints that you desire, and click 'Generate Route'.
            Based on your desired distance, we will generate a random route to travel. Currently, we are working on some other features to customize your trip! </p2>
        <br></br>
        <br></br>
        <p2>Contributors: </p2>
        <br></br>
        <div id = "list">
            <li> Josh Buckley </li>
            <li> Chloe Estrada </li>
            <li> Colin Foutz </li>
            <li> Kymane Llewellyn </li>
            <li> Shreyas Mehta </li>
            <li> Ian Walk </li>
        </div>
    </div>

</body>

</html>
