<!DOCTYPE html>
<html>
<head>
    <title>IPP project</title>
    <meta name="viewport" content="initial-scale=1.0"> <!-- content="user-scalable=no" -->
    <meta charset="utf-8">

    <link href="/css/main.css" rel="stylesheet">
    <script src="/javascript/map.js"></script>
</head>
<body>
    <p>Round Trip Routing</p>
    <span class="label dist">Enter a distance:</span>
    <input type="number" id= "dist_input" onkeypress="return numberHandler" min="0">
    <button class="button" id="routeBtn" onclick="genRouteListener()" <span>Generate Route</span></button>
    <span class="label dist2" id="dist_error"></span>
    <br>
    <br>
    <div id="map"></div>
    <div class="pac-card" id="pac-card">
        <div id="title">
            Start Point Search
        </div>
        <div id="type-selector" class="pac-controls">
            <input type="radio" name="wp-toggle" id="addstart" >
            <label>Add/Edit Starting point</label>
            <input type="radio" name="wp-toggle" id="addwp" >
            <label>Add Waypoints</label>
            <input type="radio" name="wp-toggle" id="delwp">
            <label>Delete Waypoints</label>
        </div><br><br>
        <!-- <div id="type-selector" class="pac-controls">
            <input type="radio" name="type" id="changetype-all" checked="checked">
            <label for="changetype-all">All</label>

            <input type="radio" name="type" id="changetype-establishment">
            <label for="changetype-establishment">Establishments</label>

            <input type="radio" name="type" id="changetype-address">
            <label for="changetype-address">Addresses</label>

            <input type="radio" name="type" id="changetype-geocode">
            <label for="changetype-geocode">Geocodes</label>
        </div>
        <div id="strict-bounds-selector" class="pac-controls">
            <input type="checkbox" id="use-strict-bounds" value="">
            <label for="use-strict-bounds">Strict Bounds</label>
        </div> -->
        <div id="pac-container">
            <input id="pac-input" type="text" placeholder="Enter a location">
        </div>
        <button type="button" id="addbtn">Add Startpoint/Waypoint</button>
        <button type="button" id="delbtn">Delete Waypoint</button>
        <br>
        <br>
        <label id= "startaddress">Start Address: </label>
        <label id= "startaddressval"></label>
        <br><br>
        <label>Waypoints: <br/></label>
        <form id="wp-boxes">
        </form>
        <label id="tester1"></label>
        <div id="map"></div>
        <div id="infowindow-content">
            <img src="" width="16" height="16" id="place-icon">
            <span id="place-name"  class="title"></span><br>
            <span id="place-address"></span>
        </div>
    <!--message to indicate if unsuccessful in getting current position-->
    <div id="currPositionGrab"></div>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC4cSqzBhgwNwqGFCjgDj6wDB6zNB67AQQ&libraries=places&callback=initMap"
    async defer></script>
</body>

</html>
