<!DOCTYPE html>
<html>
<head>
    <title>IPP project</title>
    <meta name="viewport" content="initial-scale=1.0"> <!-- content="user-scalable=no" -->
    <meta charset="utf-8">

    <link href="/css/main.css" rel="stylesheet">
    <script src="/javascript/map.js"></script>
</head>
<body>
    <a href="/about">
        <p onClick="description()">Round Trip Routing</p>
    </a>
    <span class="label dist">Enter a distance:</span>
    <input type="number" id= "dist_input" onkeypress="return isNumberKey" min="0">
    <button class="button" onclick="genRouteListener()"><span>Generate Route</span></button>
    <span class="label dist2" id="dist_error"></span>
    <br><br>
    <div id="map"></div>
    <div class="pac-card" id="pac-card">
        <div id="title">
            Start Point Search
            <button class="button" id="currPosButton" onclick="setUserCurrentPosition()"> Use Current Location</button>
        </div>
        <!-- <div id="addmode">
            <input type="radio" name="addmode" id="changemode-startpoint" checked="checked">
            <label for="changemode-startpoint">Adding Startpoint</label>

            <input type="radio" name="addmode" id="changemode-waypoint">
            <label for="changemode-waypoint">Adding Waypoints</label>
        </div> -->
        <br>
        <div id="pac-container">
            <input id="pac-input" type="text" placeholder="Enter a location">
        </div>
        <br>
        <button type="button"  class="button" id="addstartbtn" onclick="addbtnListener()">Add/Change Startpoint</button>
        <button type="button"  class="button" id="addwpbtn" onclick="wpbtnListener()">Add Waypoint</button>
        <br>
        <br>
        <label> &nbsp;&nbsp;&nbsp;</label>
        <img id="startimg" src="https://developers.google.com/maps/documentation/javascript/examples/full/images/beachflag.png" width="20" height="20">
        <label id= "startaddress">Start Address: </label>
        <label id= "startaddressval"></label>
        <br><br>
        <img id="wpimg" src="/static/javascript/waypointmarker.png" width="30" height="30">
        <label>Waypoints: <br/></label>
        <ul id="wp-boxes">
            <!-- <li>First point<span class="close">&times;</span></li> -->
        </ul>
        <label id="tester1"></label>
        <div id="map"></div>
        <div id="infowindow-content">
            <img src="" width="16" height="16" id="place-icon">
            <span id="place-name"  class="title"></span><br>
            <span id="place-address"></span>
        </div>
    </div>

    <div class="pac-card" id="pac-card2">
        <div id="transit-selector" class="controls">
            <input type="radio" name="type" id="changemode-walking" checked="checked">
            <label for="changemode-walking">Walking</label>

            <input type="radio" name="type" id="changemode-bicycling">
            <label for="changemode-bicycling">Bicycling</label>

            <input type="radio" name="type" id="changemode-driving">
            <label for="changemode-driving">Driving</label>
        </div>
    </div>

    <div class = "pac-card" id = "pac-card3">
        <div class = "demo" id="right-panel"></div>
        <button class="button2" id = "directions-button" onclick="collapsableDirections()"><span>Directions</span></button>
        <div class = "content"></div>
    </div>




    <!--message to indicate if unsuccessful in getting current position-->
    <div id="currPositionGrab"></div>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC4cSqzBhgwNwqGFCjgDj6wDB6zNB67AQQ&libraries=places&callback=initMap"
    async defer></script>
</body>

</html>
