* {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}

/* Always set the map height explicitly to define the size of the div
 * element that contains the map. */
#map {
    height: 100%;
}
/* Optional: Makes the sample page fill the window. */
html, body {
    height: 90%;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 5%;
}


.button {
    display: inline-block;
    border-radius: 4px;
    background-color: #232D4B;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 16px;
    padding: 5px;
    width: 200px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
    vertical-align: middle;
}

.button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}
.button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}
.button:hover span {
    padding-right: 25px;
}
.button:hover span:after {
    opacity: 1;
    right: 0;
}
.label {
    color: yellow;
    font-size: 20px;
    padding: 8px;
}
.dist {
    color: #232D4B;
}
.dist2 {
    color: #ff2e2e;
}
p {
    color: #F84C1E;
    text-align: center;
    font-weight: bold;
    font-size: 40px;
    margin: 10px 10px 10px 10px;
    border-radius: 2px 0 0 2px;
    outline-color: #F84C1E;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
    background: rgba(0, 128, 0, 0.3);
    font-family: Roboto;
}
body {
    background-color: white;
    opacity: 1;
}

#description {
    font-family: Roboto;
    font-size: 15px;
    font-weight: 300;
}

#infowindow-content .title {
    font-weight: bold;
}

#infowindow-content {
    display: none;
}

#map #infowindow-content {
    display: inline;
}

.pac-card {
    margin: 10px;
    border-radius: 2px 0 0 2px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    outline: none;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
    background-color: #fff;
    font-family: Roboto;
}

#pac-container {
    margin-right: 12px;
}

.pac-controls {
    display: inline-block;
    padding: 5px 11px;
}

.pac-controls label {
    font-family: Roboto;
    font-size: 13px;
    font-weight: 300;
}

#pac-input {
    background-color: #fff;
    font-family: Roboto;
    font-size: 15px;
    font-weight: 300;
    margin-left: 12px;
    padding: 0 11px 0 13px;
    text-overflow: ellipsis;
    width: 400px;
}

#pac-input:focus {
    border-color: #4d90fe;
}

#title {
    color: #fff;
    background-color: #4d90fe;
    font-size: 25px;
    font-weight: 500;
    padding: 6px 12px;
}

 #currPosButton {
     float: right;
     margin: auto;
 }

#right-panel {
    font-family: 'Roboto','sans-serif';
    line-height: 30px;
    padding-left: 10px;
}

#right-panel {
    height: 500px;
    float: right;
    width: 100%;
    overflow: auto;
    display: none;
}

#pac-card3 {
    float: right;
    width: 300px;
    overflow: auto;
}
#directions-button {
    width: 100%;
}
